<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> passwort neu festlegen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login" routerDirection="back">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title> passwort neu festlegen </ion-title>
    </ion-toolbar>
  </ion-header>

  <form
    [formGroup]="resetPasswordForm"
    class="ion-padding"
    (ngSubmit)="resetPassword()"
  >
    <ion-input
      formControlName="password"
      aria-label="new-pw"
      label="Neues Passwort"
      labelPlacement="floating"
      autofocus="true"
      [errorText]="true"
    ></ion-input>

    <ion-input
      formControlName="passwordConfirm"
      aria-label="new-pw-confirm"
      label="Neues Passwort wiederholen"
      labelPlacement="floating"
      autofocus="true"
      [errorText]="getMatchErrorText()"
    ></ion-input>

    <ion-button type="submit" expand="full">Passwort speichern</ion-button>
  </form>
</ion-content>
