<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <p>
      Gib deine E-Mail Adresse an, die mit deinem Benutzerkonto verknüpft ist.
    </p>
    <p>
      Innerhalb weniger Minuten erhältst du eine Mail mit einen Link, über
      welchen du ein neues Passwort festlegen kannst. Anschließend musst du dich
      mit deinem Benutzernamen und neuen Passwort anmelden.
    </p>

    <ion-input
      aria-label="email"
      label="E-Mail Adresse"
      labelPlacement="floating"
      autofocus="true"
      [errorText]="true"
    ></ion-input>

    <ion-button expand="full">Passwort zurücksetzen</ion-button>
  </div>
</ion-content>
