<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> passwort vergessen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login" routerDirection="back">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title> passwort vergessen </ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="ion-padding" (ngSubmit)="sendForgotPasswordMail()">
    <p>
      Gib deine E-Mail Adresse an, die mit deinem Benutzerkonto verknüpft ist.
    </p>
    <p>
      Innerhalb weniger Minuten erhältst du eine Mail mit einen Link, über
      welchen du ein neues Passwort festlegen kannst. Anschließend musst du dich
      mit deinem Benutzernamen und neuen Passwort anmelden.
    </p>

    <ion-input
      [formControl]="email"
      aria-label="email"
      label="E-Mail Adresse"
      labelPlacement="floating"
      autofocus="true"
      [errorText]="true"
    ></ion-input>

    <ion-button type="submit" expand="full">Passwort zurücksetzen</ion-button>
  </form>
</ion-content>
